name: build-and-package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build executables
        run: npm run package

      - name: Upload executables
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: dist/

      - name: Upload plugins
        uses: actions/upload-artifact@v4
        with:
          name: plugins
          path: plugins/